*{
	margin: 5px;
	padding: 5px;
    background-color: #7fffd4;
}


/* .links{
	align-self: center;
    width: 35%;
	text-align: center;
	background-color: lightgrey;
    margin-top: 5px;
  	margin-bottom: 5px;
  	margin-left: 20px;
  	margin-right: 20px;
    font-family: Tahoma;
    font-style: normal;
     
}*/

.banner{ 
    text-align: center;
	color: seagreen ;
	font-size: 35px;
	font-family: Tahoma;
	font-style: normal;
	font-weight: bold;
    
}

.artigo p{
	display: block;
    text-align: center;
   	margin-top: 10px;
  	margin-bottom:10px;
  	margin-left: 25%;
  	margin-right: 25%;
	
	color: black;
    background-color: #9eddc8;
	font-size: 17px;
	font-family: Tahoma;
	font-style: italic;
	margin-top: 12px;
	
}
.button{
    background:    linear-gradient(#55ab8f, #7fffd4);
    border-radius: 1000px;
    border-style: double;
    padding: 20px 45px;
    color: #c51717;
    font: normal bold 21px/1 "Roboto", sans-serif;
    text-align: center;
    width: 7%;
	margin-left: 43%;
	margin-right: 50%;
	margin-top: 10px;
	margin-bottom: 10px;
    
}
a:link, a:visited {
    color: white;
    text-decoration:none;
    background: none;
    cursor:grab;
	
  }
  
  a:link:active, a:visited:active {
    color: lightgreen;
	
  }

 